Env-Node-Red/flows.json
[{"id":"12dd0896.e9e9c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c70aabd3.5789f8","type":"ui_group","name":"Capteur humidité","tab":"b25770c.e80e39","order":1,"disp":true,"width":"7","collapse":false},{"id":"b25770c.e80e39","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b61e9190.8c894","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f0c1eedf.d9f99","type":"serial-port","serialport":"/dev/tty.usbserial-14130","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3623eb80.7306a4","type":"debug","z":"12dd0896.e9e9c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":440,"wires":[]},{"id":"3b0b5d74.780602","type":"json","z":"12dd0896.e9e9c7","name":"","property":"payload","action":"","pretty":false,"x":780,"y":580,"wires":[["fc2b7a58.63fbe"]]},{"id":"fc2b7a58.63fbe","type":"function","z":"12dd0896.e9e9c7","name":"","func":"msg.payload = msg.payload.Percentage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":560,"wires":[["812374ee.0255d"]]},{"id":"812374ee.0255d","type":"ui_gauge","z":"12dd0896.e9e9c7","name":"","group":"c70aabd3.5789f8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":520,"wires":[]},{"id":"5aefc19d.322b","type":"serial in","z":"12dd0896.e9e9c7","name":"","serial":"f0c1eedf.d9f99","x":452,"y":442,"wires":[["3623eb80.7306a4","3b0b5d74.780602"]]}]