Env-Node-Red/flows.json
[{"id":"5f808c7e.6ec774","type":"tab","label":"Simulation Données Poubelle","disabled":false,"info":""},{"id":"1478efdd.44e01","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Verre1","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.3139091308801,\"long\":-0.3745144816347811,\"type\":\"Verre\"}","payloadType":"json","x":150,"y":140,"wires":[["9aabcdc3.0779a"]]},{"id":"9aabcdc3.0779a","type":"function","z":"5f808c7e.6ec774","name":"MajPressionVerre1","func":"let pression = flow.get('verrePression1');\nlet seuil = flow.get('verreSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('verrePression1',pression);\n}\n\nmsg.payload = {\n    \"_id\":1,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":450,"y":140,"wires":[["afc65301.e69e3"]]},{"id":"afc65301.e69e3","type":"mqtt out","z":"5f808c7e.6ec774","name":"","topic":"poubelle","qos":"2","retain":"","broker":"25a081cf.db982e","x":940,"y":340,"wires":[]},{"id":"1e0f35d5.5a732a","type":"debug","z":"5f808c7e.6ec774","name":"testAvtMQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":493,"y":1232,"wires":[]},{"id":"22f8f7b6.b696a8","type":"inject","z":"5f808c7e.6ec774","name":"","props":[{"p":"init","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":60,"wires":[["e10e733c.27de7"]]},{"id":"e10e733c.27de7","type":"function","z":"5f808c7e.6ec774","name":"InitVar","func":"//Variables seuil et pression pour les dêchets type verre\nflow.set('verreSeuil',1000);\nflow.set('verrePression',[0,0,0,0]);\nflow.set('verrePression1',0);\nflow.set('verrePression2',0);\nflow.set('verrePression3',0);\nflow.set('verrePression4',0);\n\n//Variables seuil et pression pour les dêchets type commun\nflow.set('communSeuil',800);\nflow.set('communPression',[0,0,0,0]);\nflow.set('communPression1',0);\nflow.set('communPression2',0);\nflow.set('communPression3',0);\nflow.set('communPression4',0);\n\n//Variables seuil et pression pour les dêchets type recyclage\nflow.set('recyclageSeuil',700);\nflow.set('recyclagePression',[0,0,0,0]);\nflow.set('recyclagePression1',0);\nflow.set('recyclagePression2',0);\nflow.set('recyclagePression3',0);\nflow.set('recyclagePression4',0);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":60,"wires":[[]]},{"id":"3bc1756c.88f27a","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Commun1","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.31083634182449,\"long\":-0.36568324360262056,\"type\":\"Commun\"}","payloadType":"json","x":160,"y":460,"wires":[["27201db8.bc8c92"]]},{"id":"27201db8.bc8c92","type":"function","z":"5f808c7e.6ec774","name":"MajPressionCommun1","func":"let pression = flow.get('communPression1');\nlet seuil = flow.get('communSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('communPression1',pression);\n}\n\nmsg.payload = {\n    \"_id\":5,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":460,"y":460,"wires":[["afc65301.e69e3"]]},{"id":"46fb30c2.2f571","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Recyclage1","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.310834473981316,\"long\":-0.36565460107083053,\"type\":\"Recyclage\"}","payloadType":"json","x":160,"y":780,"wires":[["757aaea.1972e5"]]},{"id":"757aaea.1972e5","type":"function","z":"5f808c7e.6ec774","name":"MajPressionRecyclage1","func":"let pression = flow.get('recyclagePression1');\nlet seuil = flow.get('recyclageSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('recyclagePression1',pression);\n}\n\nmsg.payload = {\n    \"_id\":9,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":470,"y":780,"wires":[["afc65301.e69e3"]]},{"id":"c988b91c.a98168","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Verre2","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.31441297592778,\"long\":-0.3705300904737857,\"type\":\"Verre\"}","payloadType":"json","x":150,"y":220,"wires":[["d2d6a7c4.f0feb8"]]},{"id":"d2d6a7c4.f0feb8","type":"function","z":"5f808c7e.6ec774","name":"MajPressionVerre2","func":"let pression = flow.get('verrePression2');\nlet seuil = flow.get('verreSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('verrePression2',pression);\n}\n\nmsg.payload = {\n    \"_id\":2,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":\"Verre\",\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":450,"y":220,"wires":[["afc65301.e69e3"]]},{"id":"be0ecce9.89dd8","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Commun2","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.322645274024055,\"long\":-0.3567479946432236,\"type\":\"Commun\"}","payloadType":"json","x":160,"y":540,"wires":[["bc7d94c.a89bc68"]]},{"id":"bc7d94c.a89bc68","type":"function","z":"5f808c7e.6ec774","name":"MajPressionCommun2","func":"let pression = flow.get('communPression2');\nlet seuil = flow.get('communSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('CommunPression2',pression);\n}\n\nmsg.payload = {\n    \"_id\":6,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":460,"y":540,"wires":[["afc65301.e69e3"]]},{"id":"985aa293.20a4e","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Recyclage2","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.32259687120946,\"long\":-0.35679448156620447,\"type\":\"Recyclage\"}","payloadType":"json","x":160,"y":860,"wires":[["584c14f0.e8442c"]]},{"id":"584c14f0.e8442c","type":"function","z":"5f808c7e.6ec774","name":"MajPressionRecyclage2","func":"let pression = flow.get('recyclagePression2');\nlet seuil = flow.get('recyclageSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('recyclagePression2',pression);\n}\n\nmsg.payload = {\n    \"_id\":10,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":470,"y":860,"wires":[["afc65301.e69e3"]]},{"id":"a6f59eff.3dcdf","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Verre3","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.310851203441516,\"long\":-0.3657702935847785,\"type\":\"Verre\"}","payloadType":"json","x":150,"y":300,"wires":[["19c11e0a.b1a392"]]},{"id":"19c11e0a.b1a392","type":"function","z":"5f808c7e.6ec774","name":"MajPressionVerre3","func":"let pression = flow.get('verrePression3');\nlet seuil = flow.get('verreSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('verrePression3',pression);\n}\n\nmsg.payload = {\n    \"_id\":3,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":\"Verre\",\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":450,"y":300,"wires":[["afc65301.e69e3"]]},{"id":"467735f3.415dfc","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Verre4","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.31198829383463,\"long\":-0.3671455772337487,\"type\":\"Verre\"}","payloadType":"json","x":150,"y":380,"wires":[["42f7763b.3fec98"]]},{"id":"42f7763b.3fec98","type":"function","z":"5f808c7e.6ec774","name":"MajPressionVerre4","func":"let pression = flow.get('verrePression4');\nlet seuil = flow.get('verreSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('verrePression4',pression);\n}\n\nmsg.payload = {\n    \"_id\":4,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":\"Verre\",\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":450,"y":380,"wires":[["afc65301.e69e3"]]},{"id":"be23fae5.b84638","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Commun3","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.31883132515931,\"long\":-0.3396374862646479,\"type\":\"Commun\"}","payloadType":"json","x":160,"y":620,"wires":[["4472688d.19bfe8"]]},{"id":"4472688d.19bfe8","type":"function","z":"5f808c7e.6ec774","name":"MajPressionCommun3","func":"let pression = flow.get('communPression3');\nlet seuil = flow.get('communSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('communPression3',pression);\n}\n\nmsg.payload = {\n    \"_id\":7,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":460,"y":620,"wires":[["afc65301.e69e3"]]},{"id":"db421a42.4ca808","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Commun4","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.314000596748365,\"long\":-0.3402880848906379,\"type\":\"Commun\"}","payloadType":"json","x":160,"y":700,"wires":[["82a10a3b.9fcda8"]]},{"id":"82a10a3b.9fcda8","type":"function","z":"5f808c7e.6ec774","name":"MajPressionCommun4","func":"let pression = flow.get('communPression4');\nlet seuil = flow.get('communSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('communPression4',pression);\n}\n\nmsg.payload = {\n    \"_id\":8,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":460,"y":700,"wires":[["afc65301.e69e3"]]},{"id":"145d2f07.0cf5d1","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Recyclage3","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.318853551238696,\"long\":-0.33974327178516034,\"type\":\"Recyclage\"}","payloadType":"json","x":160,"y":940,"wires":[["d42d2872.a2dde8"]]},{"id":"d42d2872.a2dde8","type":"function","z":"5f808c7e.6ec774","name":"MajPressionRecyclage3","func":"let pression = flow.get('recyclagePression3');\nlet seuil = flow.get('recyclageSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('recyclagePression3',pression);\n}\n\nmsg.payload = {\n    \"_id\":11,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":470,"y":940,"wires":[["afc65301.e69e3"]]},{"id":"935b23ef.f54c3","type":"inject","z":"5f808c7e.6ec774","name":"Lat-Long-Recyclage4","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"{\"lat\":43.31407140746098,\"long\":-0.3402764522535189,\"type\":\"Recyclage\"}","payloadType":"json","x":160,"y":1020,"wires":[["2d151ad5.995086"]]},{"id":"2d151ad5.995086","type":"function","z":"5f808c7e.6ec774","name":"MajPressionRecyclage4","func":"let pression = flow.get('recyclagePression4');\nlet seuil = flow.get('recyclageSeuil');\nif(pression < seuil){\n    pression = pression + Math.round(Math.random()*(seuil - pression)+50) / 2;\n    flow.set('recyclagePression4',pression);\n}\n\nmsg.payload = {\n    \"_id\":12,\n    \"Lat\":msg.payload.lat,\n    \"Long\":msg.payload.long,\n    \"Type\":msg.payload.type,\n    \"Seuil\":seuil,\n    \"Pression\":pression,\n    \"Nb_Rempli\":{\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0,\n        \"Récupération\":false\n    },\n    \"Moyenne\":{\n        \"Nb_Annee\":0,\n        \"Janvier\":0,\n        \"Février\":0,\n        \"Mars\":0,\n        \"Avril\":0,\n        \"Mai\":0,\n        \"Juin\":0,\n        \"Juillet\":0,\n        \"Août\":0,\n        \"Septembre\":0,\n        \"Octobre\":0,\n        \"Novembre\":0,\n        \"Décembre\":0\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\ncontext.set('seuil',1000);\ncontext.set('pression',500);","x":470,"y":1020,"wires":[["afc65301.e69e3"]]},{"id":"72f29a6c.a1a924","type":"mongodb in","z":"5f808c7e.6ec774","mongodb":"92d80cc3.eea9a","name":"Collection Poubelle Find","collection":"poubelle","operation":"find","x":570,"y":1120,"wires":[["c0a2f224.b1ee9"]]},{"id":"7ed3be6b.fabaa","type":"function","z":"5f808c7e.6ec774","name":"Query .find","func":"msg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":319,"y":1120,"wires":[["72f29a6c.a1a924"]]},{"id":"4d87c3d3.273b3c","type":"inject","z":"5f808c7e.6ec774","name":"","props":[{"p":"init","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"12","topic":"","x":110,"y":1120,"wires":[["1debf4ec.71770b"]]},{"id":"c0a2f224.b1ee9","type":"function","z":"5f808c7e.6ec774","name":"Parcours plus envoie de chaque donnée","func":"for(let i = 0; i < msg.payload.length; i++){\n    const message = {\"payload\" : msg.payload[i]}; \n    node.send(message);\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1120,"wires":[["37941a3.bec7fe6"]]},{"id":"37941a3.bec7fe6","type":"switch","z":"5f808c7e.6ec774","name":"","property":"payload._id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"true","repair":false,"outputs":12,"x":1210,"y":1120,"wires":[[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"1debf4ec.71770b","type":"function","z":"5f808c7e.6ec774","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":234.5,"y":1242,"wires":[["1e0f35d5.5a732a"]],"l":false},{"id":"25a081cf.db982e","type":"mqtt-broker","name":"","broker":"mqtt-brocker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92d80cc3.eea9a","type":"mongodb","hostname":"pcazalis:pcazalis@projettutore.wpu3z.mongodb.net","topology":"dnscluster","connectOptions":"","port":"27017","db":"capteurs","name":""}]